.env
**/venv/
**/__pycache__/**
AI_SoftwareDeveloper/hackaton_img.jpg
AI_SoftwareDeveloper/src/test.ipynb
AI_SoftwareDeveloper/src/nodes/security_review.py
AI_SoftwareDeveloper/src/nodes/test_cases.py
