numpy
pandas
nbformat>=5.10.4
pypdf
arxiv
pymupdf
wikipedia
lxml
python-dotenv
bs4
faiss-cpu
streamlit
langgraph
langchain
langchain-openai
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-ollama
langgraph-cli[inmem]
streamlit
shutils
langsmith
